button {
	white-space: nowrap;
}

.controls {
	display: grid;
	grid-template-columns: repeat(2, min-content) 1fr;
	grid-template-rows: repeat(5, min-content);
	grid-gap: 5px;
}

.colors {
	display: grid;
	grid-template-columns: repeat(4, min-content);
	grid-template-rows: repeat(6, min-content);
	grid-gap: 5px;
	
	grid-row: 1 / -1;
	grid-column: -2 / -1;
}

.colorinput {
	width: 6em;
	align-self: right;
}

.visuals {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	margin-top: 5px;
	grid-gap: 8px;
}

.guitar-bg {
	grid-area: 1 / 1 / 2 / 2;
	background-color: #AAA;
	z-index: 0;
} 

.guitar-fg {
	grid-area: 1 / 1 / 2 / 2;
	background-color: transparent;
	z-index: 1;
}

.keyboard-bg {
	grid-area: 2 / 1 / 3 / 2;
	background-color: #CCC;
	z-index: 0;
}

.keyboard-fg {
	grid-area: 2 / 1 / 3 / 2;
	background-color: transparent;
	z-index: 1;
}